<h2>Тестов бутон</h2>

<form action="/Shop/Checkout" method="post">
    <input type="hidden" name="productId" value="1" />
    <input type="hidden" name="paymentMethod" value="card" />
    <button type="submit">Купи тестово</button>
</form>
